@import '../../assets/stylesheets/mixin.scss';

.app-footer {
	font-size: 1.2rem;
	position: fixed;
	bottom: 0;
	text-align: center;
	height: 4rem;
	line-height: 4rem;
	width: 100%;
	border-top: 1px solid $gray-border;
}